@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajoutez vos styles personnalisés ici */
/* Ajoutez un background à tous le site*/

body {
    background: #f6f6f6 url('https://firebasestorage.googleapis.com/v0/b/blog-d70e1.appspot.com/o/almoha_background_for_blog_site_28dbc0bf-09e6-4f68-9901-9de3d054b043.png?alt=media&token=810c8889-c7f3-4b92-a66e-8cfb0804f291') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  